span {
	font-weight: bolder;
	
}

span#cim {
	font-weight: bolder;
	font-size: large;
	text-align: center;

}



img {
	border: none;
	margin: none;
	padding: none;

}

div#header {
	position: absolute;
	left: 8px;
	top: 6px;
	height: 149px;
	width: 800px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}


div#fucsik1 {
	position: absolute;
	left: 8px;
	top: 155px;
	height: 150px;
	width: 30px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik2 {
	position: absolute;
	left: 8px;
	top: 305px;
	height: 150px;
	width: 30px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik3 {
	position: absolute;
	left: 8px;
	top: 455px;
	height: 150px;
	width: 30px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik4 {
	position: absolute;
	left: 8px;
	top: 605px;
	height: 150px;
	width: 30px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik5 {
	position: absolute;
	left: 778px;
	top: 605px;
	height: 150px;
	width: 30px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik6 {
	position: absolute;
	left: 778px;
	top: 455px;
	height: 150px;
	width: 30px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik7 {
	position: absolute;
	left: 778px;
	top: 305px;
	height: 150px;
	width: 30px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik8 {
	position: absolute;
	left: 778px;
	top: 155px;
	height: 150px;
	width: 30px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik14 {
	position: absolute;
	left: 8px;
	top: 710px;
	height: 150px;
	width: 30px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik15 {
	position: absolute;
	left: 778px;
	top: 710px;
	height: 150px;
	width: 30px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik9 {
	position: absolute;
	left: 32px;
	top: 830px;
	height: 30px;
	width: 150px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik10 {
	position: absolute;
	left: 182px;
	top: 830px;
	height: 30px;
	width: 150px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik11 {
	position: absolute;
	left: 332px;
	top: 830px;
	height: 30px;
	width: 150px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik12 {
	position: absolute;
	left: 482px;
	top: 830px;
	height: 30px;
	width: 150px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}

div#fucsik13 {
	position: absolute;
	left: 632px;
	top: 830px;
	height: 30px;
	width: 150px;
	z-index: 1;
	padding:none;
	margin:none;
	border:none;
}
div#textarea {
	color: #556B2F;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	position: absolute;
	left: 38px;
	top: 155px;
	height: 600px;
	width: 690px;
	z-index: 1;
	background-color: #eeae4a;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 50px;
	line-height: 150%;
	text-align: justify;
}

div.cim {
	color: green;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: larger;
	position: absolute;
	left: 35px;
	top: 157px;
	height: 600px;
	width: 694px;
	z-index: 1;
	background-color: #eeae4a;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 50px;
	text-align: justify;
}



div#miert {
	position: absolute;
	left:470px;
	top:8px;
	height: 30px;
	width: 300px;
	z-index: 2;
}



div#impresszum {

	color:#eeae4a;
	position: absolute;
	text-align: center;
	height: 30px;
	width: 400px;
	z-index: 2;
	top: 835px;
	left: 200px;
	
}

div#impresszum_jelentkezes {

	color:#eeae4a;
	position: absolute;
	text-align: center;
	height: 30px;
	width: 400px;
	z-index: 2;
	top: 680px;
	left: 180px;
	
}

a#impresszum {
	color:#eeae4a;
}

a:visited#impresszum {
	color:#eeae4a;
}

div#nevjegy {
	background-color:#eeae4a;
	text-align: center;
}




